# Entornos virtuales
venv/
.env
env/

# Caché de Python
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints

# Datos y resultados
results/*.csv
results/*.png
results/*.json
data/*.csv
results/*.joblib